.header-table {background-color: lightgrey; }
.todo-header-button {
    background-color: lightgrey;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bookmarks-bar {
    width: 60px;
    height: 100vh;
    background-color: #DDDDDD;
    position: fixed;
    float: left;
    padding-left:5px;
    z-index: 100;
    overflow: auto;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2), 0 6px 20px -4px rgba(0, 0, 0, 0.19);
}

.collapse-menu {
    box-shadow: 1px 2px 4px -4px rgba(0,0,0,.2), -2px 4px 9px -4px rgba(0,0,0,.19);
    margin-top: 15px;
}

.log-list {
}

.main {
    margin-left: 65px;
}

.find-box {
    position: fixed;
    top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    z-index: 50;
    display: inline-block;
    width: 87vw;

}

.toggle-buttons {
    margin-left: 12px;
}

.filter-highlight-lines {
    margin-bottom: 5px;
}

.exit-button {
    width: 22px;
    margin-left: 10px;
}

.filter-button-medium {
    width: 30px;
    margin-left: 5px;
}

.filter-button-big {
  width: 50px;
  margin-left: 5px;
}

.filter-button-xbig {
  width: 75px;
  margin-left: 5px
}

.filter-highlight-text {
    margin-left: 10px;
    font-size: 17px;
}

.toggle-label {
  margin-left: 10px;
  font-size: 13px;
}

.filter {
    padding-bottom: 5px;
}

.filter-box {
    padding-left: 5px;
    padding-bottom: 10px;
}

.highlight-box {
    padding-left: 5px;
    padding-bottom: 10px;
}

.filter-header {
    margin-bottom: 0px;
}

.not-found {
    color: #FF9494;
}

.unmoving {
    resize: none;
    width: 75px;
}
