{
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["react"],
      "plugins": [
        "react-hot-loader/babel",
        "syntax-object-rest-spread",
        "transform-class-properties"
      ]
    }
  },
  "presets": [
  "env",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "transform-class-properties"
  ]
}
