{
    "extends": "eslint-config-mongodb-js",
        "root": true,
        "rules": {
            "no-console": "off",
        },
        "env": {
            "es6": true
        },
        "overrides": [
        {
            "files": "**/*.js",
            "excludedFiles": ["hadron-react-components/**/*.js", "server/*.js"],
            "env": {
                "browser": true,
            },
            "plugins": ["react", "jest"],
            "parserOptions": {
                "sourceType": "module",
                "ecmaFeatures": {
                    "jsx": true
                }
            },
        },
        {
            "files": ["server/*.js"],
            "env": {
                "node": true,
                "parserOptions": {
                    "sourceType": "scripts",
                },
            },
            "rules": {
                "no-sync": "warn",
            }
        },
        {
            "files": ["<rootDir>/*.js", "<rootDir>/.*rc"],
            "env": {
                "node": true,
                "parserOptions": {
                    "sourceType": "scripts",
                },
            },
        },
    ]
}
