{
  "parser": "babel-eslint",
  "extends": "eslint-config-mongodb-js",
  "root": true,
  "rules": {
    "no-console": "off",
  },
  "env": {
    "es6": true
  },
  "overrides": [
    {
      "files": ["src/**/*.js", "src/**/*.jsx"],
      "excludedFiles": ["src/**/*.spec.js", "src/**/*.test.js", "src/setupTests.js"],
      "env": {
        "browser": true,
      },
      "plugins": ["react", "babel"],
      "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "rules": {
        "complexity": "off"
      }
    },
    {
      "files": ["src/**/*.spec.js", "src/**/*.test.js", "src/setupTests.js"],
      "env": {
        "browser": true,
      },
      "plugins": ["react", "jest", "babel"],
      "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
    },
    {
      "files": ["server/**/*.js", "generate-tasks.js"],
      "env": {
        "node": true,
        "parserOptions": {
            "sourceType": "scripts",
        },
      },
      "rules": {
        "no-sync": "off",
        "complexity": "off"
      }
    }
  ]
}
