.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.head {
  background-color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 45px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.2), 0 0 2px 0 rgba(0,0,0,.19);
}

main.lobster {
  padding-top: 45px;
}

.Nav {
  background: transparent !important;
  color:white;
  position: fixed;
}

.NavItem {
  background:black;
  color:white;
}

.lobster-icon {
    width: auto;
    height: 25px;
}
