.bookmark-line { background-color: #ffffb3; }
.highlighted { background-color: #fff0f2; }
.filtered { background-color: #ffdde3; }
.monospace { font-family: monospace;}
.hover-highlight:hover {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);

}
.inline { display: table; }
.no-wrap { white-space: pre; }
.wrap { white-space: pre-wrap; }
.padded-text { padding-left: 5px; padding-right: 5px; }
[data-pseudo-content]::before {
    content: attr(data-pseudo-content);
}
